<!-- <script type="text/javascript" src="welcome.js"></script> -->
<div class="intro">
  <div class="black"></div>
  <div class="white"></div>
  <div class="boxfather">
    <div class="box">
      <h1>WELCOME</h1>
      <h2>to MyBlog about a programming BootCamp</h2>
      <%=link_to "Enter", posts_path, class: "btn btn-default"%>
    </div>
  </div>

</div>
