<br></br>
<body>

<center><h1>Welcome to my BootcampBlog</h1></center>

<br></br>
<div class="postblog">
<% @posts.each do |post| %>
<h2><%= link_to post.title, post %></h2>
  <p>
  <%= truncate post.content %>
  <p>
  <p>
  <%= time_ago_in_words post.created_at %>
  </p>
<%end%>
</div>
<div>
<p>
<%= link_to "New post", new_post_path %>
</p>
</div>
</body>
